<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.moviesbookingapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BookingApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoviesBookingApp"
        tools:targetApi="31">
        <activity
            android:name=".activities.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TicketsDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PaymentActivity"
            android:exported="true" />
        <activity
            android:name=".activities.TicketConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CheckOutActivity"
            android:exported="true" />
        <activity
            android:name=".activities.GrabBiteActivity"
            android:exported="true" />
        <activity
            android:name=".activities.SeatSelectActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DateSelectActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MoviesDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PickLocationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.GetOTPActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LogInActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>